/* .wed-card{
    border:"1px solid green";
    display:"flex";
    flex-direction:"column";
    width:"20%";
    padding:"2%";
    align-items: "center";
    background-color:"#fbefe3";
    box-shadow: "#c6ffc6 0px 0px 15px 4px";
    border-radius:"90px";
    margin:"10px";
} */