header {
  background-color: #7695ff;
  background-image: linear-gradient(to right, white, #7695ff);
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #b5b8ff;
  border-top: 1px solid #f1f1ff;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.header {
  width: 87%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.logo {
  height: 50px;
}
.logo:hover {
  box-shadow: 1px 1px 1px #cbd5ff;
}
.login-btn {
  color: black;
  font-size: 1.3rem;
}
.login-btn:hover {
  text-shadow: 0px 0px 1px #0000ff;
  color: #505f99;
  cursor: pointer;
}
