.navapi {
  display: flex;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: #343536;
}
.navapi ul {
  display: flex;
  width: 35%;
  justify-content: space-around;
}
.navapi ul li {
  list-style: none;
}
.navapi a {
  text-decoration: none;
  color: #ebebeb;
}
