* {
  margin: 0;
}
body,
#root {
  height: 100vh;
  overflow: auto;
}
.flex {
  display: flex;
}
.wholePage {
  display: flex;
  flex-direction: column;
  font-family: cursive;
}
a {
  text-decoration: none !important;
  color: inherit;
}
.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
