* {
  margin: 0;
}
body,
#root {
  height: 100vh;
  overflow: auto;
}
.flex {
  display: flex;
}
.wholePage {
  display: flex;
  flex-direction: column;
  height: 100%;
}
a {
  text-decoration: none !important;
  color: inherit;
}
